.clock {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: darkcyan;
    border: 3px solid black
}

.clock p {
    display: flex;
    justify-content: space-between;
}

.tabs {
    border: 3px solid black;
    background-color: beige;
}

.tab-content {
    display: flex;
    justify-content: center;
}

